<div id="layoutSidenav_content">

    <main>

        <div class="container-fluid">

            <p id="notice"><%= notice %></p>

            <h3 class="my-5">Unidades de medida</h3>

            <div class="table-responsive">

                <table class="table table-hover">

                    <thead class="thead-dark">
                        <tr>
                            <th>Abreviação</th>
                            <th>Descrição</th>
                            <th class="text-center">Mostrar</th>
                            <th class="text-center">Alterar</th>
                            <th class="text-center">Excluir</th>
                        </tr>
                    </thead>

                    <tbody>
                        <% @unmeds.each do |unmed| %>
                        <tr>
                            <td><%= unmed.abreviacao %></td>
                            <td><%= unmed.descricao %></td>
                            <td class="text-center"><%= link_to '', unmed, class:"fas fa-eye fa-lg bg-light" %></td>
                            <td class="text-center"><%= link_to '', edit_unmed_path(unmed), class:"fas fa-edit fa-lg bg-light" %></td>
                            <td class="text-center"><%= link_to '', unmed, method: :delete, data: { confirm: 'Você tem certeza que deseja excluir esse registro?' }, class:"fas fa-trash fa-lg bg-light" %></td>
                        </tr>
                        <% end %>
                    </tbody>
                    
                </table>

            </div>         

            <br>

            <%= link_to 'Novo', new_unmed_path, class:"btn btn-secondary mr-3" %>
            <%= link_to 'Voltar', dashboard_path, class:"btn btn-secondary" %>
            
        </div>

    </main>

    <%= render 'shared/footer' %>

</div>