<div class="container container-white">

    <!-- Quem Somos -->
    <%= render 'pages/quemsomos' %>

    <!-- Serviços -->
    <%= render 'pages/servicos' %>

    <!-- Planos Disponíveis -->
    <%= render 'pages/planos' %>

    <!-- Artigos -->
    <%= render 'pages/artigos' %>

</div><!-- Página Inicial -->

<!-- Contato -->
    <%= render 'pages/contato' %>