<div id="layoutSidenav_content" class="page-home">

    <!-- Quem Somos -->
    <%= render 'pages/quemsomos' %>

    <!-- Serviços -->
    <%= render 'pages/servicos' %>

    <!-- Planos Disponíveis -->
    <%= render 'pages/planos' %>

    <!-- Artigos -->
    <%= render 'pages/artigos' %>

    <!-- Contato -->
    <%= render 'pages/contato' %>

</div><!-- Página Inicial -->

