<div id="layoutSidenav_content">

  <main>

    <div class="container-fluid">

      <p id="notice"><%= notice %></p>

      <h3 class="my-5">Cadastro</h3>

      <p><strong>Codigo:</strong><%= @ncm.codigo %></p>
      <p><strong>Descricao:</strong><%= @ncm.descricao %></p>
      <p><strong>Tipoicm:</strong><%= @ncm.tipoicm %></p>
      <p><strong>Percicm:</strong><%= @ncm.percicm %></p>
      <p><strong>Percipi:</strong><%= @ncm.percipi %></p>
      <p><strong>Percst:</strong><%= @ncm.percst %></p>
      <p><strong>User:</strong><%= @ncm.user_id %></p>

      <%= link_to 'Editar', edit_ncm_path(@ncm), class:"btn btn-secondary mr-3" %>
      <%= link_to 'Voltar', ncms_path, class:"btn btn-secondary" %>
        
    </div>

  </main>

  <%= render 'shared/footer' %>

</div>