<div id="layoutSidenav_content">

  <main>

    <div class="container-fluid">

      <p id="notice"><%= notice %></p>

      <h3 class="my-5">Cadastro</h3>

      <%= link_to 'Editar', edit_ncm_path(@ncm), class:"btn btn-sm btn-success mr-3 my-2" %>
      <%= link_to 'Voltar', ncms_path, class:"btn btn-sm btn-success my-2" %>
      
      <p><strong>Código: </strong><%= @ncm.codigo %></p>
      <p><strong>Descrição: </strong><%= @ncm.descricao %></p>
      <p><strong>Tipo ICM: </strong><%= @ncm.tipoicm %></p>
      <p><strong>% ICM: </strong><%= @ncm.percicm %></p>
      <p><strong>% IPI: </strong><%= @ncm.percipi %></p>
      <p><strong>% ST: </strong><%= @ncm.percst %></p>
      <p><strong>Usuário: </strong><%= @ncm.user_id %></p>
        
    </div>

  </main>

  <%= render 'shared/footer' %>

</div>