<div id="layoutSidenav_content">

  <main>

    <div class="container-fluid">

      <p id="notice"><%= notice %></p>

      <h3 class="my-5">Cadastro</h3>

      <%= link_to 'Editar', edit_item_path(@item), class:"btn btn-sm btn-success mr-3 my-2" %>
      <%= link_to 'Voltar', items_path, class:"btn btn-sm btn-success my-2" %>
      
      <p><strong>Codigo: </strong><%= @item.codigo %></p>
      <p><strong>Descricao: </strong><%= @item.descricao %></p>
      <p><strong>Inativo: </strong><%= @item.inativo %></p>
      <p><strong>Tipo: </strong><%= @item.tipo %></p>
      <p><strong>Embvenda: </strong><%= @item.embvenda %></p>
      <p><strong>Estseg: </strong><%= @item.estseg %></p>
      <p><strong>Leadtime: </strong><%= @item.leadtime %></p>
      <p><strong>Altura: </strong><%= @item.altura %></p>
      <p><strong>Comprimento: </strong><%= @item.comprimento %></p>
      <p><strong>Largura: </strong><%= @item.largura %></p>
      <p><strong>Pesobruto: </strong><%= @item.pesobruto %></p>
      <p><strong>Pesoliquido: </strong><%= @item.pesoliquido %></p>
      <p><strong>Lastro: </strong><%= @item.lastro %></p>
      <p><strong>Camada: </strong><%= @item.camada %></p>
      <p><strong>Ean: </strong><%= @item.ean %></p>
      <p><strong>User: </strong><%= @item.user_id %></p>
      <p><strong>Category: </strong><%= @item.category_id %></p>
      <p><strong>Ncm: </strong><%= @item.ncm_id %></p>
      <p><strong>Typeitem: </strong><%= @item.typeitem_id %></p>
      <p><strong>Unmed: </strong><%= @item.unmed_id %></p>
        
    </div>

  </main>

  <%= render 'shared/footer' %>

</div>