<div id="layoutSidenav_content">

  <main>

    <div class="container-fluid">

      <p id="notice"><%= notice %></p>

      <h3 class="my-5">Categorias</h3>

      <div class="table-responsive">

        <table class="table table-hover">

          <thead class="thead-dark">
            <tr>
              <th>User</th>
              <th>Descrição</th>
              <th class="text-center">Mostrar</th>
              <th class="text-center">Alterar</th>
              <th class="text-center">Excluir</th>
            </tr>
          </thead>

          <tbody>
            <% @categories.each do |category| %>
            <tr>
              <td><%= category.user_id %></td>
              <td><%= category.descricao %></td>
              <td class="text-center"><%= link_to '', category, class:"fas fa-eye fa-lg bg-light" %></td>
              <td class="text-center"><%= link_to '', edit_category_path(category), class:"fas fa-edit fa-lg bg-light" %></td>
              <td class="text-center"><%= link_to '', category, method: :delete, data: { confirm: 'Você tem certeza que deseja excluir esse registro?' }, class:"fas fa-trash fa-lg bg-light" %></td>
            </tr>
            <% end %>
          </tbody>

        </table>

      </div> 

      <br>

      <%= link_to 'Novo', new_category_path, class:"btn btn-secondary mr-3" %>
      <%= link_to 'Voltar', registrations_path, class:"btn btn-secondary" %>
      
    </div>

  </main>

  <%= render 'shared/footer' %>

</div>