<div class="dashboard">

    <div class="row">

        <div class="col-2">
            <%= render 'shared/sidebar' %>
        </div>

        <div class="container-dashboard col-10">

            <div class="container-devise mx-5 my-5">

                <h1 class="mb-5">Cadastro</h1>

                <p> <strong>User:</strong>
                    <%= @category.user_id %>
                </p>

                <p class="mb-5"> <strong>Name:</strong>
                    <%= @category.name %>
                </p>

                <%= link_to 'Editar', edit_category_path(@category), class:"btn btn-secondary mr-3" %>
                <%= link_to 'Voltar', categories_path, class:"btn btn-secondary" %>

            </div>

        </div>

    </div>

</div>