<div id="layoutSidenav_content">

    <main>

        <div class="container-fluid">
            
            <p id="notice"><%= notice %></p>

            <h3 class="my-5">Tipo de Itens</h3>

            <%= link_to 'Novo', new_typeitem_path, class:"btn btn-sm btn-success mr-3 mb-2" %>
            <%= link_to 'Voltar', dashboard_path, class:"btn btn-sm btn-success mb-2" %>

            <div class="table-responsive">

                <table class="table table-hover">

                    <thead class="thead-dark">
                        <tr>
                            <th>id</th>
                            <th>Descrição</th>
                            <th class="text-center">Alterar</th>
                        </tr>
                    </thead>

                    <tbody>
                        <% @typeitems.each do |typeitem| %>
                        <tr>
                            <td><%= typeitem.id %></td>
                            <td><%= typeitem.name %></td>
                            <td class="text-center"><%= link_to '', edit_typeitem_path(typeitem), class:"fas fa-edit fa-lg bg-light" %></td>
                        </tr>
                        <% end %>
                    </tbody>
                    
                </table>

            </div>

            <br>

        </div>

    </main>

    <%= render 'shared/footer' %>

</div>