<div id="layoutSidenav_content">

    <main>

        <div class="container-fluid">

            <p id="notice"><%= notice %></p>

            <h3 class="my-5">Cadastro</h3>

            <p> <strong>id:</strong>
                <%= @typeitem.id %>
            </p>

            <p class="mb-5"> <strong>Name:</strong>
                <%= @typeitem.name %>
            </p>

            <%= link_to 'Editar', edit_typeitem_path(@typeitem), class:"btn btn-secondary mr-3" %>
            <%= link_to 'Voltar', typeitems_path, class:"btn btn-secondary" %>
            
        </div>

    </main>

    <%= render 'shared/footer' %>

</div>